*{
    box-sizing: border-box;
}

.login-bg {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: space-between;
    margin: auto;
    width: auto;
    padding: 24px 40px;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    position: sticky;
    top: 125px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
    background: white;
    overflow: hidden;
    z-index: 1;
    @media (max-width:767px) {
        // height: 60vh;
        justify-content: center;
        position: relative;
        box-shadow: none;
        padding: 24px 15px;
        border-radius: 0;
    }
    .box{
        // border-radius: 8px;
        // box-shadow: rgb(16 25 40 / 8%) 0px 4px 8px 0px;
        background: white;
        overflow: hidden;
        margin: 0px auto 24px;
        display: flex;
        flex-direction: column;
        padding: 24px 0 0;
        max-width: 456px;
        width: 100%;
        @media (max-width:980px) {
            padding: 24px 0;
        }
        &.form-box{
            max-width: 630px;
        }
        button {
            color: white;
            font-size: 18px;
            line-height: 22px;
            font-weight: 800;
            border: none;
            &:active, &:focus {
                box-shadow: none !important;
            }
        }
        .social-login {
            button {
                background-color: white !important;
            }
        }
    }
    form {
        input {
            border: 1px solid rgba(38, 57, 87, 0.2);
            border-radius: 5px;
            color: rgba(0, 0, 0, 0.5) !important;
            font-size: 14px;
            &:focus {border-color: rgba(38, 57, 87, 0.2);}
        }
        select {
            color: rgba(38, 57, 87, 0.7) !important;
            font-size: 14px;
        }
        .input-group-text {
            svg {
                color: #000;
            }
        }
        .flag-code {
            span {
                color: rgba(38, 57, 87, 0.7);
                font-size: 14px;
                &:first-child {
                    font-size: 18px;
                }
            }
        }
    }
}

.logo-desktop {
    display: none;
    margin-bottom: 24px;
}

.login-wrapper {
    background: #FFFFFF;
    padding:24px 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
.login-wrapper .login{
    max-width: 380px;
}
.login-wrapper a{
    border-bottom: 1px solid transparent;
    display: inline-block;
}
.login-wrapper a:hover{
    border-color: inherit;
}
.form-group label {
    font-size: 15px;
    font-weight: 700;
    color: rgb(0,0,0,0.8);
}
.signup-footer{
    color: #000;
    font-weight: 600;
    @media (max-width:767px) {
        position: absolute;
        bottom: 0;
    }
    span {
        text-decoration: underline;
        color: #037aff;
        cursor: pointer;
    }
}
@media (min-width: 992px) {
    .logo-desktop {
        display: block;
    }
    .logo-mobile {
        display: none;
    }
    .login-wrapper {
        box-shadow:0 2px 5px 0 rgb(164 173 186 / 25%);
        width: auto;
        height: auto;
        padding: 24px 38px 31px;
    }
}

@media (max-width: 992px) {
    .login-wrapper {
        height: 100%;
        max-width: 720px;
        padding: 24px 38px 31px;
    }
    .signup {
        width: 100%;
    }
}
.passHelp .setPass{
    border-color: green !important;
}
.passHelp .errorPass{
    border-color: red !important;
}

.auth-page {
    @media (max-width:767px) {
        padding: 24px 15px !important;
    }
    .top {
        max-width: 650px !important;
    }
    .login-bg {
        max-width: 650px;
        padding-top: 0;
        @media (max-width:767px) {
            top: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
            height: auto;
            padding: 24px 15px;
            .signup-footer {
                position: static;
            }
        }
        .box {
            max-width: 630px;
        }
        h3 {
            color: #000;
            margin-bottom: 20px;
        }
    }
}

.login-bg>div {width: 100%;}
